numpy==1.26.4
pandas==2.2.1
torch==2.2.1
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
matplotlib==3.7.5
pyomo==6.7.1
gurobipy==11.0.2
pyscipopt==5.1.1
google==3.0.0
gurobi-machinelearning==1.5.0
tensorflow==2.17.0
ruff==0.4.1
omlt==1.1
amplpy==0.14.0 
ampltools==0.7.5